@import "tailwindcss";

:root {
  --background: #fbfafa;
  --foreground: #7c7365;
  --padding-base: 12px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* fonts */
  --font-nanum-gothic-coding: var(--font-nanum-gothic-coding);
  --font-size-display: 64px;
  --font-size-heading: 36px;
  --font-size-subheading: 20px;
  --font-size-body: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
}
